body{

  --background: #333;
  --color: #fff;

  background: var(--background);
  color: var(--color);

  margin:0;
  padding:0;

  font-family: sans-serif;

}


@media (prefers-color-scheme: light) {
  body {
    --background: #fff;
    --color: #333;
  }
}

